.containerform {
    width: 90%;
    padding: 20px;
}

.form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(405px, 1fr));
    gap: 10px;
    justify-content: center;
    font-size: 0.6rem;
}


.form .kotak1 {
    width: 100%;
}

.form .kotak2 {
    width: 100%;
}

.form label {
    margin-top: 10px;
    font-size: 16px;
    display: flex;
}

.form input {
    width: 100%;
    padding: 20px 10px;
    outline: none;
    border-radius: 0px;
    box-shadow: 0;
    border: 1px solid var(--color-sekunder);
    font-size: 0.6rem;
}


.form .inputicon input {
    border: 0
}

.form textarea {
    padding: 10px;
    outline: none;
    border-radius: 0px;
    box-shadow: 0;
    border: 0;
    font-size: 0.6rem;
    width: 100%;
}

.form textarea:focus {
    color: var(--color-primary);
}


.form input:focus {
    color: var(--color-primary);
}

.form :placeholder-shown {
    font-size: 0.6rem;
}

.bagi2 {
    display: flex;
    width: 100%;
}

.bagi2 .harga {
    width: 100%;
    margin-right: 10px;
}

.bagi2 .harga input {
    width: 100%;
}

.bagi2 .diskon {
    width: 120px;
}

.bagi2 .diskon input {
    width: 100%;
}


.inputicon {
    display: flex;
    align-items: center;
    background-color: var(--color-grey);
    border-radius: 0px;
    font-weight: 700;
    border: 1px solid var(--color-sekunder);
}


.inputicon .text {
    padding: 0 10px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


.form .dalamsubmit {
    display: flex;
    justify-content: flex-end;
}

.form .isisum {
    /* width: 100%; */
    position: relative;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.form button {
    margin: 10px 0 0 0;
    background-color: var(--color-primary);
    padding: 15px 50px;
    font-size: 24px;
    cursor: pointer;
    color: var(--color-white);
    border: 0px solid;
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.form button:hover {
    background-color: var(--color-primary-hover);
}

.form .loading {
    position: absolute;
    bottom: 0;
    background-color: red;
    height: 5px;
    width: 100%;
    overflow: hidden;
}


.kategoristock {
    display: flex;
    align-items: center;
    gap: 5px;
}

.kategoristock .button {
    height: max-content;
    margin: 0;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.kategoristock .button:hover {
    background-color: var(--color-sekunder);
}

.kategoristockeditdel {
    font-size: 1rem;
    display: flex;
    margin-top: 10px;
    gap: 5px;
    text-align: center;
    width: 100%;
}

.kategoristockeditdel .editdel {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.kategoristockeditdel .editdel:hover {
    background-color: var(--color-sekunder);
    cursor: pointer;
}

.kategoristockeditdel .listkategori {
    width: 40%;
    border: 1px solid var(--color-sekunder);
    position: relative;
}

.kategoristockeditdel .listkategori::after {
    content: 'type';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.4rem;
}

.kategoristockeditdel .datastock {
    width: 40%;
    border: 1px solid var(--color-sekunder);
    position: relative;
}

.kategoristockeditdel .datastock::after {
    content: 'stock';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.4rem;
}

.kategoristockeditdel .edit {
    width: 20%;
}

.kategoristockeditdel .delete {
    width: 20%;
}


@media only screen and (max-width: 1200px) {

    .form {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media only screen and (max-width: 768px) {

    .form {
        gap: 0;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    .containerform {
        width: 100%;
    }
}


@media only screen and (max-width: 480px) {
    .judul {
        font-size: 20px;
    }

    .bungkusjudul {
        width: 95%;
        margin-top: 10px;
    }

    .form input {
        width: 100%;
        padding: 10px;
        outline: none;
        border-radius: 0px;
        box-shadow: 0;
        border: 1px solid var(--color-sekunder);
    }

    .form textarea {
        outline: none;
        border-radius: 0px;
        box-shadow: 0;
        width: 100%;
    }


    .form {
        grid-template-columns: 1fr;
    }


    .kategoristock .button {
        padding: 5px 10px;
    }

    .containerform {
        width: 100%;
    }
}