.informasi {
    font-size: 0.6rem;
    padding: 10px 0;
}

.containerinformasi {
    display: flex;
    margin-top: 5px;
}

.tablesatu {
    width: 200px;
    font-weight: 500;
}

.tabledua {
    width: 100%;
}

.detail {
    font-size: 0.6rem;
    display: flex;
}

.namapesanan {
    width: 40%;
}

.jumlahpesanan {
    width: 10%;
}

.hargapesanan {
    width: 25%;
}

.link {
    width: 15%;
}

.status {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.status input {
    height: 20px;
    width: 20px;
    background-color: red;
    color: red;
}

.content {
    display: flex;
}

.content:nth-child(even) {
    background-color: var(--color-grey);
}

.content {
    font-size: 0.6rem;
    padding: 10px 0;
}


.nota button {
    margin-top: 20px;
    background-color: var(--color-sekunder);
    padding: 5px 20px;
    border-radius: 7px;
    font-size: 0.7rem;
    color: var(--color-white);
    cursor: pointer;
    margin-right: 10px;
}

.dalampilihan {
    display: flex;
    /* justify-content: flex-end; */
}

.listdata {
    max-height: 250px;
    overflow-y: scroll;
}

.eye {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.eye:hover {
    color: red;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {

    .namapesanan {
        width: 40%;
    }

    .jumlahpesanan {
        width: 15%;
    }

    .hargapesanan {
        width: 33%;
    }

    .link {
        width: 10%;
    }

    .listdata {
        max-height: 50dvh;
    }

}