.informasi {
    font-size: 0.6rem;
    padding: 10px 0;
}

.containerinformasi {
    display: flex;
    margin-top: 5px;
}

.tablesatu {
    width: 200px;
    font-weight: 500;
}

.tabledua {
    width: 100%;
}

.detail {
    font-size: 0.6rem;
    display: flex;
}

.namapesanan {
    width: 40%;
}

.jumlahpesanan {
    width: 30%;
}

.hargapesanan {
    width: 20%;
}

.kupon {
    width: 10%;
}

.content {
    display: flex;
}

.content:nth-child(even) {
    background-color: var(--color-grey);
}

.content {
    font-size: 0.6rem;
    padding: 10px 0;
}


.nota button {
    margin-top: 20px;
    background-color: var(--color-sekunder);
    padding: 5px 20px;
    border-radius: 7px;
    font-size: 0.7rem;
    color: var(--color-white);
    cursor: pointer;
    margin-right: 10px;
}

.dalampilihan {
    display: flex;
    /* justify-content: flex-end; */
}