.relatif {
    position: relative;
}

.loading {
    position: absolute;
    top: 0;
    height: 400px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.dalamloading {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    color: var(--color-white);
    z-index: 10;
}

.slug {
    font-size: 20px;
}

.container {
    padding: 0 0 20px 0;
    height: 400px;
    width: 100%;
    font-size: 20px;
    /* overflow-y: scroll; */
    display: flex;
}


.kotak2 {
    /* height: 400px; */
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
}


.containerdata {
    display: flex;
    margin-bottom: 5px;
}

.containerdata .judul {
    width: 30%;
    font-weight: 500;
    margin-right: 5px;
}

.containerdata .detail {
    width: 70%;
}

.gambar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.gambar .gambardalam {
    width: 200px;
    height: 200px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.gambar .gambardalam img {
    border-radius: 7px;
}

.deleteupdate {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.deleteupdate .delete {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(196, 75, 75);
    color: var(--color-white);
    margin-right: 10px;
    cursor: pointer;
}

.deleteupdate .delete:hover {
    transition: 0.3s ease;
    background-color: red;
}

.deleteupdate .update {
    font-size: 20px;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
}

.deleteupdate .update:hover {
    transition: 0.3s ease;
    background-color: blue;
}

.dataperforma {
    background-color: var(--color-grey);
    padding: 5px;
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        height: 70dvh;
    }

    .loading {
        height: 72dvh;
    }
    
    .dalamloading {
        height: 72dvh;
    }

}


@media only screen and (max-width: 480px) {

    .gambar {
        justify-content: center !important;
    }

    .slug {
        font-size: 14px;
    }

    .container {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        height: 75dvh;
    }

    .deleteupdate .delete {
        font-size: 14px;
    }

    .deleteupdate .update {
        font-size: 14px;
    }

    .loading {
        height: 75dvh;
    }
    
    .dalamloading {
        height: 75dvh;
    }
}