.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.container .post {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 100px;
    animation: bounce 2s infinite;
    cursor: pointer;
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -o-transform: translateY(0);
    }

    40% {
        -o-transform: translateY(-30px);
    }

    60% {
        -o-transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}



/* LIST */
.list {
    width: 1000px;
    /* padding: 10px; */
    margin-top: 30px;
    margin-bottom: 200px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.bungkusproduk {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    /* margin-bottom: 10px; */
    border-top: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
    border-bottom: 0px solid var(--color-primary);
    border-left: 1px solid var(--color-primary);
    position: relative;
    padding: 10px 5px;
}

.bungkusproduk:hover {
    background-color: var(--color-hover-admin);
    transition: 0.2s ease;
    cursor: pointer;
}



.bungkusproduk:nth-child(1) {
    border-top: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
    border-bottom: 0px solid var(--color-primary);
    border-left: 1px solid var(--color-primary);
    background-color: var(--color-hover-admin);
    padding: 0 10px;
}

.bungkusproduk:last-child {
    border: 1px solid var(--color-primary);
}

.produk {
    width: 100%;
    /* background-color: red ; */
    display: flex;
    align-items: flex-start;
    /* background-color: var(--color-sekunder);
    color: var(--color-white); */
    color: var(--color-sekunder);
}


.produk .namaproduk {
    padding: 7px;
    width: 60%;
    display: flex;
    align-items: center;
}

.produk .terjual {
    padding: 7px;
    width: 20%;
    display: flex;
    align-items: center;
}

.produk .viewbarang {
    width: 20%;
    padding: 7px;
    display: flex;
    align-items: center;
}

.produk .arrow {
    position: absolute;
    right: 10px;
    top: 17px;
    display: none;
    animation-name: geser;
    animation-duration: 0.3s;
}

.bungkusproduk:hover .arrow {
    display: block;
}

@keyframes geser {
    from {
        right: 20px;
    }

    to {
        right: 10px;
    }
}


.produk .viewbarang .dalamview {
    display: flex;
    align-items: center;
}


.aksi {
    /* width: 10%; */
    display: flex;
    font-size: 3%;
}

.aksi .deletedalam {
    display: contents;
    cursor: pointer;
}

.aksi .deletedalam:hover {
    font-size: 40px;
}


@media only screen and (max-width: 1080px) {
    .list {
        width: 95vw;
        /* padding: 10px; */
    }
}

@media only screen and (max-width: 768px) {
    .list {
        width: 95vw;
        /* padding: 10px; */
    }
}

@media only screen and (max-width: 480px) {

    .bungkusatas {
        width: 100vw;
    }

    .pencarian {
        padding: 20px 10px 20px 5px;
    }

    .head .iconhead {
        padding-left: 10px;
    }

    .list {
        width: 95vw;
        /* padding: 10px; */
        font-size: 15px;
    }

    .aksi {
        display: flex;
        font-size: 15px;
        justify-content: center;
    }

    .aksi .edit {
        padding: 3px;
    }

    .aksi .delete {
        padding: 0px;
        font-size: 25px;
        text-align: right;
    }

    .pencarian input {
        width: 100%;
    }

    .container .post {
        font-size: 70px;
        bottom: 10px;
        right: 10px;
    }

    @-o-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            -o-transform: translateY(0);
        }

        40% {
            -o-transform: translateY(-15px);
        }

        60% {
            -o-transform: translateY(-8px);
        }
    }

    .aksi .delete {
        font-size: 25px;
    }

}