.caridalam {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--color-primary);
}

.logocari {
    width: 5%;
    z-index: 1010;
}

.caridalam input {
    width: 100%;
    border: 0;
    padding: 20px 10px;
    background-color: var(--color-hover-admin);
    font-size: 24px;
}

.caridalam input:focus {
    border: 0;
    outline: none;
}

@media only screen and (max-width: 768px) {
    .caridalam input {
        width: 95%;
    }
}

@media only screen and (max-width: 480px) {
    .logocari {
        width: 10%;
        z-index: 1010;
    }
}