.container {
    font-size: 0.6rem;
    margin: 30px 0;
    width: 1200px;
}

.judul {
    display: flex;
    font-weight: 700;
    padding: 10px 0;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 7px 7px 0 0;
}

.content {
    display: flex;
    padding: 10px 0;
}

.content:nth-child(even) {
    background-color: var(--color-grey);
}

.history {
    padding: 20px;
    display: flex;
    align-items: center;
}

.history .number {
    font-weight: 700;
    font-size: 0.8rem;
}

.namalengkapuser {
    width: 30%;
    padding: 5px;
}

.totaljumlah {
    width: 30%;
    padding: 5px;
}

.totalbiaya {
    width: 30%;
    padding: 5px;
}

.datapesanan {
    width: 10%;
    padding: 5px;
    text-align: center;
}


.content .datapesanan button {
    padding: 10px;
    background-color: var(--color-high);
    color: var(--color-white);
    border-radius: 7px;
    cursor: pointer;
}

.content .notauser button {
    padding: 10px;
    background-color: var(--color-sekunder);
    color: var(--color-white);
    border-radius: 7px;
    cursor: pointer;
}


@media only screen and (max-width: 1250px) {
    .container {
        width: 95vw;
    }
}


@media only screen and (max-width: 768px) {
    .container {
        width: 95vw;
    }
}