.container {
    font-size: 0.6rem;
    /* margin: 30px 0; */
    /* width: 1000px; */
    width: 100%;
}

.judul {
    display: flex;
    font-weight: 700;
    padding: 10px 0;
    background-color: var(--color-primary);
    color: var(--color-white);
    /* border-radius: 7px 7px 0 0; */
    flex: 1;
}

.content {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.content:nth-child(even) {
    background-color: var(--color-grey);
}

.history {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.history .number {
    font-weight: 700;
    font-size: 0.8rem;
}

.history .jumlah {
    display: flex;
    flex-direction: column;
}

.history .jumlah .pending {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: yellow    ;
}

.history .jumlah .sukses {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: green;
    color: var(--color-white);
}

.history input {
    width: 100%;
    padding: 10px;
    font-size: 0.6rem;
    margin-right: 5px;
    margin: 20px 10px 20px 0;
}

.tanggalinput {
    width: 30%;
    padding: 5px;
}

.totaljumlah {
    width: 30%;
    padding: 5px;
}

.totalbiaya {
    width: 30%;
    padding: 5px;
}

.datapesanan {
    width: 10%;
    padding: 5px;
    text-align: center;
}


.content .datapesanan button {
    padding: 10px;
    background-color: var(--color-sekunder);
    color: var(--color-white);
    border-radius: 7px;
    cursor: pointer;
}

.pagination {
    margin: 10px 0 20px 0;
    font-size: 0.9rem;
    background-color: var(--color-grey);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.pagination .arrow {
    font-size: 0.9rem;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
}

.pagination .angka {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 20px;
}


.pencarian {
    display: flex;
    align-items: center;
}

.filter {
    display: flex;
    margin: 5px 0;
    width: 100%;
    display: flex;
    /* justify-content: flex-end; */
}

.statussekarang {
    font-size: 1rem;
    font-weight: 700;
    /* padding: 20px 0; */
}

.filter .datafilter {
    margin-right: 5px;
    cursor: pointer;
    color: var(--color-white);
    font-weight: 700;
    padding: 5px;
}

.filter .datafilter:nth-child(1) {
    background-color: rgb(255, 0, 132);
}

.filter .datafilter:nth-child(2) {
    background-color: coral;
}

.filter .datafilter:nth-child(3) {
    background-color: blue;
}

.filter .datafilter:nth-child(4) {
    background-color: green;
}

.filter .datafilter:nth-child(5) {
    background-color: red;
}

.filter .datafilter:nth-child(6) {
    background-color: var(--color-sekunder);
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter .datafilter:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 1250px) {
    .container {
        width: 95vw;
    }
}


@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .tanggalinput {
        width: 30%;
    }

    .totaljumlah {
        width: 25%;
    }

    .totalbiaya {
        width: 25%;
    }

    .history {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .pencarian {
        width: 100%;
    }

    .history input {
        width: 100%;
    }

    .filter {
        justify-content: center
    }

}

@media only screen and (max-width: 480px) {
    .container {
        width: 100%;
    }

    .tanggalinput {
        width: 30%;
    }

    .totaljumlah {
        width: 20%;
    }

    .totalbiaya {
        width: 25%;
    }

    .datapesanan {
        width: 30%;
    }


    .datapesanan {
        text-align: right;
    }


    .content .datapesanan button {
        padding: 7px;
        border-radius: 7px;
    }

    .history {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .pencarian {
        width: 100%;
    }

    .history input {
        width: 100%;
    }

    .filter {
        justify-content: center
    }

}