/* UPDATE */
.update {
    width: 1200px;
    margin-bottom: 5px;
    border-top: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    border-left: 1px solid var(--color-primary);
    padding: 10px;
    background-color: var(--color-hover-admin);
    margin-top: 30px;
}


.form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(505px, 1fr));
    gap: 10px;
    justify-content: center;
}


.form .kotak1 {
    width: 100%;
    /* background-color: red; */
}

.form .kotak2 {
    width: 100%;
    /* background-color: blue; */
}

.form label {
    font-size: 16px;
}


.harga {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-right: 5px;
}

.diskon {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 5px;
}

.bagi2 {
    display: flex;
}

.form label {
    margin-top: 10px;
    font-size: 16px;
    display: flex;
}

.form input {
    width: 100%;
    padding: 20px 10px;
    outline: none;
    border-radius: 7px;
    box-shadow: 0;
    border: 1px solid var(--color-primary);
    font-size: 18px;
}

.form textarea {
    padding: 10px;
    outline: none;
    border-radius: 7px;
    box-shadow: 0;
    border: 1px solid var(--color-primary);
    font-size: 18px;
    width: 100%;
}

.form textarea:focus {
    outline: none;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.form input:focus {
    outline: none;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.form :placeholder-shown {
    font-size: 17px;
}



.form .dalamsubmit {
    display: flex;
    justify-content: flex-end;
}

.form .isisum {
    width: 100%;
    position: relative;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.form button {
    margin: 10px 0 0 0;
    background-color: var(--color-primary);
    padding: 15px 50px;
    font-size: 24px;
    cursor: pointer;
    color: var(--color-white);
    border: 0px solid;
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.form button:hover {
    background-color: var(--color-primary-hover);
}


.form .loading {
    position: absolute;
    bottom: 0;
}



@media only screen and (max-width: 1200px) {


    .update {
        width: 95%;
    }

    .form {
        /* gap: 0; */
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}




@media only screen and (max-width: 768px) {


    .update {
        width: 95%;
    }

    .form {
        gap: 0;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

}


@media only screen and (max-width: 480px) {


    .judul {
        font-size: 20px;
    }

    .bungkusjudul {
        width: 95%;
        margin-top: 10px;
    }

    .update {
        width: 95%;
    }

    .form :placeholder-shown {
        font-size: 14px;
    }

    .form input {
        width: 100%;
        padding: 10px;
        outline: none;
        border-radius: 7px;
        box-shadow: 0;
        border: 1px solid var(--color-primary);
        font-size: 18px;
    }

    .form textarea {
        padding: 10px;
        outline: none;
        border-radius: 7px;
        box-shadow: 0;
        border: 1px solid var(--color-primary);
        font-size: 18px;
        width: 100%;
    }


    .form {
        grid-template-columns: 1fr;
        gap: 10px;
    }

}