.countainer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* JUDUL ATAS */

.countaineratas {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: -20px;
    border-bottom: 1px solid var(--color-hr);
    white-space: nowrap;
}

.judulatas {
    color: var(--color-sekunder);
    font-size: 0.9rem;
    font-weight: 700;
}

/* LIST PRODUK */
.listproduk {
    width: 1100px;
}

.gridlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
    justify-content: center;
}


.produk {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
}


.produk:hover {
    transform: translate(0, -10px);
    transition: all ease 0.2s;
}

.produk .gambar {
    height: 180px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    position: relative;
}

.produk .diskon {
    position: absolute;
    top: 7px;
    left: 7px;
    font-weight: 500;
    background-color: var(--color-high);
    display: flex;
    align-items: center;
    color: var(--color-white);
    padding: 3px;
    border-radius: 5px;
    font-size: 0.6rem;
}


.produk .love {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    border-radius: 50%;
}

.produk .love:hover {
    transition: 0.1s ease all;
    background-color: var(--color-hover-grey-love);
}

.produk .love .bgicon {
    font-size: 1rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}


.produk .love .iconlogo {
    position: relative;
    height: 43px;
    width: 43px;
}

.produk .love .logo {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 1rem;
    color: var(--color-white);
}

.produk .love .bgiconpush {
    position: absolute;
    z-index: -1;
    background-color: var(--color-sekunder);
    border-radius: 100%;
    opacity: 0.5;
    height: 43px;
    width: 43px;
}

.produk .gambar img {
    border-radius: 12px 12px 0 0;
    height: 180px;
    max-width: 100%;
    background-position: center;
    object-position: top;
    object-fit: contain;
}


.produk .tengah {
    padding: 7px;
    color: var(--color-sekunder-listproduk);
}

.produk .judul {
    font-weight: 500;
    margin-bottom: 5px;
}

.produk .harga {
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
}

.produk .harga .hargaasli {
    color: var(--color-primary);
    font-weight: 700;
}

.produk .harga .hargaasli .hargaaslidalam {
    display: flex;
    align-items: flex-end;
}

.produk .harga .hargaasli .hargaaslidalam .hargadalam {
    font-size: 0.7rem;
}

.produk .harga .hargadiskon {
    font-weight: 300;
    text-decoration: line-through;
    display: flex;
}

.produk .ratingterjual {
    display: flex;
    align-items: center;
    opacity: 0.5;
}

.ratingterjual .logorating {
    color: var(--color-third);
}

.ratingterjual .garis {
    opacity: 0.5;
    padding: 0 5px;
}


/* PAGINATION */

.countainer .luarpagination {
    width: 1100px;
    display: flex;
    justify-content: center;
    position: relative;
}

.countainer .garispagination {
    position: absolute;
    width: 1100px;
    height: 1px;
    background-color: var(--color-hr);
    top: 50%;
    bottom: 50%;
}

.countainer .pagination {
    font-weight: bold;
    padding: 10px 100px;
    background-color: var(--color-white);
    color: var(--color-sekunder);
    cursor: pointer;
    border-radius: 12px;
    font-size: 0.6rem;
    width: fit-content;
    z-index: 1;
    font-weight: 500;
    border: 1px solid var(--color-hr);
    display: flex;
    align-items: center;
}

.countainer .pagination:hover {
    transition: 0.2s ease all;
    background-color: var(--color-sekunder);
    color: var(--color-white);
}


@media only screen and (max-width: 1100px) {


    .countaineratas {
        width: 95vw;
    }

    .countainer .garispagination {
        width: 95vw;
    }

    .listproduk {
        padding: 10px;
    }
}


@media only screen and (max-width: 768px) {

    /* JUDUL ATAS */
    .countaineratas {
        width: 95vw;
    }

    .countainer .garispagination {
        width: 100vw;
    }

    /* LIST PRODUK */
    .listproduk {
        width: 100vw;
        padding: 10px 30px;
    }

    .gridlist {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        gap: 10px
    }

    .produk {
        margin: 0;
    }

    .produk .gambar {
        max-width: 100%;
    }

    .produk .beli {
        padding: 7px 0px;
    }

}


/* Mobile styles using media query */
@media only screen and (max-width: 480px) {

    /* JUDUL ATAS */
    .countaineratas {
        width: 90vw;
    }

    .countainer .garispagination {
        width: 100vw;
    }

    /* LIST PRODUK */
    .gridlist {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
        gap: 10px;
    }

    .listproduk {
        width: 100vw;
        padding: 10px 20px;
    }

    .produk {
        margin: 0;
        /* width: 47vw */
    }

    .produk .gambar {
        max-width: 100%;
        height: 150px;
    }

    .produk .gambar img {
        height: 150px;
    }

    .produk .love .bgicon {
        font-size: 1.2rem;
    }

    .produk .love .logo {
        font-size: 1.2rem;
    }


}