@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100,200,300,400,500,600,700,800;900&display=swap');

:root {
  --color-primary: #ADC178;
  --color-sekunder: #6C584C;
  --color-third: #F0EAD2;
  --color-white: #ffffff
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif!important;
}

a {
  color: inherit;
  text-decoration: none;
}


.hilangkan {
  height: 100vh;
  width: 100vw;
  position: absolute;
  position: fixed;
  top: 0;
}