@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-primary: #885df1;
  --hover-color-primary: #451fa0;
  --color-primary-hover: #355d9a;
  --color-sekunder: #272044;
  --color-sekunder-listproduk: #272044;
  --hover-color-sekunder: #353434;
  --color-third: #ffb700;
  --color-white: #ffffff;
  --color-high: #f65282;
  --color-diskon: #f65282;
  --bg-diskon: #FFDBE2;
  --bg-wa: #25d366;
  --bg-bayar: #94FBAB;
  --berhasil: #66A182;
  --color-hover-admin: #fafafa;
  --hover-color-grey: #cacccc;
  --color-grey: #f2f4f5;
  --color-hr: #dadada;
  --color-grey-love: #989898;
  --color-hover-grey-love: #4b4b4b
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  font-family: 'Montserrat', sans-serif !important;
  scroll-behavior: smooth;
  font-size: 25px;
  /* overflow-y: auto; */
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  background-position: center;
  /* object-fit: cover; */
  object-position: center;
}



::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}


.hilangkan {
  height: 100vh;
  width: 100vw;
  position: absolute;
  position: fixed;
  top: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 10;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

.none {
  display: none;
}

button {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  border: 0;
}

.Toastify__toast-container {
  width: max-content !important;
  height: 10px !important;
  /* position: absolute!important; */
  top: 20px !important;
  font-size: 14px !important;
}

.skletonprodukid {
  height: 300px;
  width: 500px;
}

.skleton {
  width: 100px;
  height: 40px;
}


.deskop {
  display: block;
}

.mobile {
  display: none;
}

#snap-container iframe {
  width: 700px !important;
}

@media only screen and (max-width: 768px) {

  html,
  body {
    font-size: 23px;
  }

  .deskop {
    display: block;
  }

  .mobile {
    display: none;
  }

  #snap-container iframe {
    width: 100vw !important;
    min-height: 90dvh !important;
  }
}

@media only screen and (max-width: 480px) {

  html,
  body {
    font-size: 20px;
  }

  .Toastify__toast-container {
    width: 70vw !important;
    height: 10px !important;
    /* position: absolute!important; */
    top: 20px !important;
    right: 40% !important;
    left: 60% !important;
    transform: translate(-50%, -50%) !important;
    font-size: 14px !important;
  }

  .skletonprodukid {
    height: 300px;
    width: 100vw;
  }

  .deskop {
    display: none;
  }

  .mobile {
    display: block;
  }

  #snap-container iframe {
    width: 100vw !important;
    min-height: 90dvh !important;
  }
}