:root {
  --max-width: 1100px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}


a {
  color: inherit;
  text-decoration: none;
}


.hilangkan {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
}
