.containerform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 0.7rem;
}

.loading {
    position: absolute;
    top: 0;
    width: 700px;
    height: 100%;
    z-index: 9999;
}

.loading .hitam {
    background-color: black;
    width: 700px;
    height: 100%;
    opacity: 0.8;
    border-radius: 0 0 10px 10px;
    position: relative;
}

.logoloading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
    width: 700px;
    height: 100%;
    font-size: 0.7rem;
    color: var(--color-white);
    flex-direction: column;
}

.tombolkembaligagal {
    background-color: var(--color-high);
    margin-top: 10px;
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
}

.kuponharga {
    color: var(--color-high);
}

/* FORM */

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    font-size: 0.6rem;
}

.form .padding {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
}

.form label {
    color: var(--color-primary);
    display: flex;
    font-weight: 600;
}

.form input {
    padding: 10px;
    border-radius: 0 4px 4px 0;
    /* border: 1px solid var(--color-primary); */
    width: 100%;
    border: 0;
    font-size: 0.7rem;
}

.form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    height: 70px;
    outline: none;
    font-size: 0.7rem;
}

.form textarea:focus {
    color: var(--color-primary);
    font-size: 0.7rem;
    font-weight: 700;
}

.form input:nth-child(12) {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-primary);
}

.form input:focus {
    color: var(--color-primary);
    outline: none;
    font-weight: 700;
}


.form button {
    background-color: var(--color-primary);
    color: var(--color-white);
    /* padding: 15px 50px; */
    padding: 0 30px;
    height: 50px;
    cursor: pointer;
    border-radius: 7px;
    outline: none;
    border: 0;
    font-weight: 600;
    font-size: 0.7rem;
    width: fit-content;
    display: flex;
    align-items: center;
}

.form button:hover {
    opacity: 0.9;
    transition: all 0.1s ease;
    border: 2px solid var(--color-primary);
}

.form .logoluar {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-primary);
    width: 100%;
    border-radius: 4px;
}


.form .logo {
    padding: 10px;
    display: flex;
    align-items: flex-end;
    height: fit-content;
    background-color: var(--color-grey);
    border-radius: 4px 0 0 4px;
}


.kupon {
    width: 200px;
}

.kupon input {
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid var(--color-primary);
}

.bawah {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.06) 0px 1px 2px;
}

.bawah .hargaasli {
    font-weight: 700;
    font-size: 0.7rem;
}

.bawah .hargadiskon {
    font-weight: 400;
    font-size: 0.6rem;
}

/* //LOADING PYAMENT */


.loadingpayment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 700px;
    height: 60dvh;
}

.gambar {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.text {
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

.textalertatas {
    font-size: 0.8rem;
    background-color: var(--color-third);
    color: var(--color-sekunder);
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    border-radius: 0;
}

.textalertbawah {
    font-size: 0.8rem;
    background-color: var(--color-third);
    color: var(--color-sekunder);
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    border-radius: 0 0 10px 10px;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@media only screen and (max-width: 768px) {

    .logoloading {
        width: 100vw;
        border-radius: 0;
    }

    .loading {
        width: 100vw;
    }

    .form input:nth-child(10) {
        width: 50%;
    }

    .loading .hitam {
        border-radius: 0;
    }

    .loadingpayment {
        width: 100vw;
        min-height: 90dvh;
    }

    .textalertbawah {
        border-radius: 0;
    }
}

@media only screen and (max-width: 480px) {

    .logoloading {
        width: 100vw;
        border-radius: 0;
    }

    .loading {
        width: 100vw;
    }

    .form input:nth-child(10) {
        width: 50%;
    }

    .loading .hitam {
        border-radius: 0;
    }

    .form .padding {
        padding: 10px 20px 20px 20px;
    }

    .loadingpayment {
        width: 100vw;
        min-height: 90dvh;
    }

    .textalertbawah {
        border-radius: 0;
    }
}