.skletoncontainer {
    top: 40px;
    position: absolute;
    background-color: var(--color-white);
    width: 500px;
    max-height: 400px;
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
    border-radius: 0 0 12px 12px;
}

/* NAVIGASI */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav .logogambardalam {
    font-size: 2rem;
    color: var(--color-primary);
}

.nav .logogambar {
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
}

.nav .pencarian {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1/2/2/3;
    flex-direction: column;
    position: relative;
}

.nav .pencarian .dalampencarian {
    position: relative;
}



.nav .pencarian .input {
    width: 500px
}

.nav .pencarian .input input {
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 0.7rem;
    font-weight: 500;
    background-color: var(--color-grey);
    color: var(--color-sekunder);
    border: none;
}

.nav .pencarian .input .inputtrue {
    border-color: none;
    padding: 0 20px 0 40px
}


.nav .pencarian .input input:focus {
    background-color: var(--color-white);
    color: var(--color-sekunder);
    outline: none; 
    border: 3px solid var(--color-grey);
}


.nav .pencarian .hilang {
    position: absolute;
    left: 10px;
    top: 10px;
}

.nav .pencarian .logocari {
    display: flex;
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 0.5;
}

.nav .pencarian .logocaridalam {
    font-size: 0.9rem;
}

.pilihan {
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pilihan .icon {
    margin-right: 10px;
    padding: 7px;
    color: var(--color-sekunder);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    position: relative;
}

.pilihan .animasi {
    animation: Shake 0.5s;
   
}


@keyframes Shake {
    0% {
        transform: rotate(5deg);
    }

    25% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-6deg);
    }

    100% {
        transform: rotate(5deg);
    }
}


.pilihan .icon .number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-weight: 500;
    position: absolute;
    font-size: 14px;
    border-radius: 18px;
    padding: 1px 3px;
    top: 0;
    right: 0;
    background-color: var(--color-high);
}

.pilihan .icon:hover {
    border-radius: 100%;
    background-color: var(--color-grey);
}

.pilihan .login {
    background-color: var(--color-grey);
    color: var(--color-sekunder);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: 700;
    white-space: nowrap;
    font-size: 0.7rem;
    /* height: 40px; */
}

.pilihan .login:hover {
    background-color: var(--hover-color-grey);
}


.hilangkan {
    height: 100vh;
    width: 100vw;
    position: absolute;
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    z-index: 9;
}

@media only screen and (max-width: 768px) {

    /* NAVIGASI */
    .nav {
        padding: 10px 20px;
        gap: 5px;
    }

    .nav .logogambar {
        grid-area: 1/1/2/2;
    }

    .nav .pencarian {
        grid-area: 2/1/3/4;
    }

    .nav .pencarian .dalampencarian {
        width: 100%
    }

    .nav .pencarian .input {
        width: 100%
    }

    .nav .pencarian .input input {
        width: 100%;
        height: 40px;
    }

    .pilihan .icon {
        margin-right: 5px;
    }

    .skletoncontainer {
        width: 100%;
    }
}


@media only screen and (max-width: 480px) {

    /* NAVIGASI */
    .nav {
        grid-template-columns: 60px 1fr 1fr;
        padding: 15px 5px 5px 5px;
        gap: 15px;
    }

    .pilihan {
        justify-content: center;
    }


    .nav .logogambar {
        grid-area: 1/1/2/2;
    }


    .nav .pencarian .dalampencarian {
        width: 95%
    }

    .nav .pencarian .input {
        width: 100%;
    }

    .nav .pencarian .input input {
        width: 100%;
        height: 40px;
    }

    .nav .pencarian .input input::placeholder {
        font-weight: 700;
    }


    .nav .pencarian .input .inputtrue {
        padding: 0 20px 0 40px
    }

    .nav .pencarian .hilang {
        left: 10px;
        top: 10px;
    }


    .skletoncontainer {
        width: 95%;
        top: 40px;
    }
}