.luarcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 10px;
}

.container {
    display: flex;
    width: fit-content;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 10px;
}

.typingeffect {
    animation: typing 3s steps(20);
    white-space: nowrap;
    overflow: hidden;
}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 15ch;
    }
}

.cursoreffect {
    animation: cursor .75s infinite;
}

@keyframes cursor {
    from {
        color: black;
    }

    to {
        color: var(--color-grey);
    }
}