.countainertengah {
    display: flex;
    justify-content: center;
    /* margin: 10px 0; */
}

.countainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-weight: 900;
    color: var(--color-white);
    height: 300px;
    /* align-items: center; */
    background-color: var(--color-primary);
    /* border-radius: 0 0 15px 15px; */
    container-type: inline-size;
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
}

.countainer .text {
    font-size: 4cqw;
    position: relative;
}


.countainer .text .pertama {
    margin-top: 30px;
    display: flex;
    width: 1100px;
    justify-content: center;
}

.countainer .text .kedua {
    display: flex;
    width: 1100px;
    justify-content: center;
}

.countainer .text .kedua .keduadalam {
    color: var(--color-third);
}

.countainer .text .textbawah {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    color: var(--color-white);
    font-size: 1.5cqw;
}

.countainer .text .cari {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.countainer .cari {
    position: absolute;
    bottom: -30px;
    width: 1100px;
    color: var(--color-third);
}

.countainer .cari .logocaridalam {
    font-size: 100px;
    cursor: pointer;
}

.countainer .cari .logocaridalam:hover {
    opacity: 0.9;
    transition: 0.2 ease;
}


/* Tablet styles using media query */
@media only screen and (max-width: 768px) {
    .countainer {
        width: 100vw;
        /* font-size: 28px; */
        height: 250px;
    }

    .countainer .text {
        font-size: 5cqw;
    }

    .countainer .text .pertama {
        width: 100vw;
    }

    .countainer .text .kedua {
        width: 100vw;
    }

    .countainer .text .textbawah {
        font-size: 3cqw;
    }

    .countainer .cari {
        width: 100vw;
        bottom: -25px;
    }

    .countainer .cari .logocaridalam {
        font-size: 80px;
    }
}


/* Mobile styles using media query */
@media only screen and (max-width: 480px) {
    .countainer {
        width: 100vw;
        /* font-size: 20px; */
        height: 200px;
    }


    .countainer .text {
        font-size: 6cqw;
    }


    .countainer .text .pertama {
        width: 100vw;
    }

    .countainer .text .kedua {
        width: 100vw;
    }

    .countainer .text .textbawah {
        font-size: 3cqw;
    }

    .countainer .cari .logocaridalam {
        font-size: 50px;
    }

    .countainer .cari {
        width: 100vw;
        bottom: -18px;
    }

    .countainer .cari .logocaridalam {
        font-size: 70px;
    }
}