.countainer {
    width: 1100px;
    display: flex;
    justify-content: center;
    font-weight: 900;
    color: var(--color-sekunder);
    height: 40vh;
    align-items: center;
    background-color: var(--color-third);
    border-radius: 10px;
    container-type: inline-size;
}

.countainer .text {
    font-size: 4.5cqw;
    position: relative;
}


.countainer .text .pertama {
    display: flex;
    width: 1100px;
    justify-content: center;
}

.countainer .text .kedua {
    display: flex;
    width: 1100px;
    justify-content: center;
}

.countainer .text .kedua .keduadalam {
    color: var(--color-primary);
}

.countainer .text .textbawah {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    color: var(--color-sekunder);
    font-size: 2.5cqw;
}

.countainer .text .cari {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.countainer .cari {
    position: absolute;
    bottom: -90px;
    width: 1100px;
}

.countainer .cari .logocaridalam {
    font-size: 100px;
    cursor: pointer;
}

.countainer .cari .logocaridalam:hover {
    opacity: 0.8;
    transition: 0.2 ease;
}


/* Tablet styles using media query */
@media only screen and (max-width: 768px) {
    .countainer {
        width: 90vw;
        /* font-size: 28px; */
        height: 220px;
    }

    .countainer .text {
        font-size: 5cqw;
    }

    .countainer .text .pertama {
        width: 95vw;
    }

    .countainer .text .kedua {
        width: 95vw;
    }

    .countainer .text .textbawah {
        font-size: 3cqw;
    }

    .countainer .cari {
        width: 95vw;
        bottom: -80px;
    }

    .countainer .cari .logocaridalam {
        font-size: 80px;
    }
}


/* Mobile styles using media query */
@media only screen and (max-width: 480px) {
    .countainer {
        width: 90vw;
        /* font-size: 20px; */
        height: 150px;
    }


    .countainer .text {
        font-size: 6cqw;
    }


    .countainer .text .pertama {
        width: 95vw;
    }

    .countainer .text .kedua {
        width: 95vw;
    }

    .countainer .text .textbawah {
        font-size: 3cqw;
    }

    .countainer .cari .logocaridalam {
        font-size: 50px;
    }

    .countainer .cari {
        width: 95vw;
        bottom: -58px;
    }

    .countainer .cari .logocaridalam {
        font-size: 60px;
    }
}