.containeratasatas {
    display: flex;
    justify-content: center;
    align-items: center;

}

.containeratas {
    width: 700px;
    margin: 20px 0;
    background-color: var(--color-white);
    border-radius: 12px;
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
    position: relative;
}

.container {
    padding: 15px 20px;
    /* height: 60dvh;
    overflow-y: scroll; */
    margin-bottom: 10dvh;
}

.judulatas {
    padding: 15px 20px;
    font-weight: 700;
    margin-top: -80px;
    display: flex;
    justify-content: space-between;
}

.judulatas .backnya {
    cursor: pointer;
}

.total {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 1dvh 30px 30px 30px;
    font-size: 0.7rem;
    position: sticky;
    top: 89dvh;
    bottom: 0;
    background-color: var(--color-white);
    z-index: 1;
    border-radius: 12px;
    /* margin: 10px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.06) 0px 1px 2px;
}

.total .harga {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total .bayarlangsung {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 15px 25px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 7px;
    white-space: nowrap;
}

.total .bayarlangsung:hover {
    transition: 0.2s ease all;
    background-color: var(--hover-color-primary);
}

.total .totalpembayaran {
    padding: 15px;
    font-size: 0.9rem;
}

.list {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    position: relative;
}

.list .stokbarang {
    position: absolute;
    right: 0;
    font-size: 0.6rem;
    bottom: 20px;
    color: var(--color-high);
}

.detailluar {
    display: flex;
    width: 100%;
}

.list .gambar {
    width: 100px;
    height: 90px;
    border-radius: 3px;
}

.list .gambar img {
    width: 100px;
    height: 90px;
    border-radius: 3px;
}

.list .detail {
    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    font-size: 0.6rem;
    color: var(--color-sekunder);
    font-weight: 500;
}

.list .detail .judul {
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    margin-bottom: 5px;
}

.list .harga {
    margin-bottom: 5px;
}

.list .detail .harga {
    display: flex;
}

.list .detail .hargadalam {
    font-weight: 700;
}

.list .detail .hargadiskon {
    text-decoration: line-through;
}

.list .tambahkurang {
    border: 2px solid var(--color-grey);
    width: fit-content;
    border-radius: 7px;
    padding: 2px;
}

.list .tambahkurang .tambah {
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--color-white);
}

.list .tambahkurang .kurang {
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--color-white);
}

.list .tambahkurang .nilai {
    padding: 5px 20px;
    background-color: var(--color-white);
    font-weight: 500;
}

.list .jumlahbarang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-high);
    width: 100%;

}


.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.action .delete {
    color: var(--color-diskon);
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.action .delete .validasi {
    font-size: 0.6rem;
    background-color: var(--color-sekunder);
    display: flex;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 25px;
}

.action .delete .validasi .yes {
    color: #adff2f;
    padding: 3px;
    cursor: pointer;
}

.action .delete .validasi .no {
    color: #FF69B4;
    padding: 3px;
    cursor: pointer;
}

.action .delete .validasi .yes:hover {
    color: #9cdb3f;
}

.action .delete .validasi .no:hover {
    color: #d55d99;
}


/* NOTFOUND */
.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    flex-direction: column;
}

.notfound .belum {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 5px;
}


.notfound .kembali {
    background-color: var(--color-primary);
    cursor: pointer;
    padding: 10px 10px;
    color: var(--color-white);
    border-radius: 7px;
    font-size: 0.7rem;
}

.notfound .kembali:hover {
    transition: 0.2s ease all;
    background-color: var(--hover-color-primary);
}


@media only screen and (max-width: 768px) {
    .containeratas {
        width: 100vw;
        border-radius: 0;
        margin: 0;
    }

    .list .detail {
        padding: 0 10px 10px 10px;
    }

}



@media only screen and (max-width: 480px) {


    .containeratas {
        width: 100vw;
        border-radius: 0;
        margin: 0;
    }


    .list .detail {
        padding: 0 10px 10px 10px;
    }

    .container {
        padding: 0 20px 20px 20px;
    }

    /* .total {
        top: 92dvh;
    } */
}