.countainer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}


/* JUDUL ATAS */
.judulatas {
    width: 1000px;
    font-weight: bold;
    color: var(--color-sekunder);
    font-size: 30px;
    margin-bottom: -30px;
}


/* LIST PRODUK */
.listproduk {
    width: 1000px;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.produk {
    width: 312px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produk .gambar {
    max-height: 250px;
    max-width: 312px;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.produk .gambar img {
    border-radius: 5px;
    max-height: 250px;
    max-width: 312px;
    background-position: center;
    object-fit: cover;
    object-position: center;
}

.produk .judul {
    font-weight: bold;
    font-size: 24px;
    color: var(--color-sekunder);
}

.produk .review {
    color: var(--color-sekunder);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produk .review .harga {
    font-size: 24px;
}

.produk .review .logorating {
    color:#f6bd60 ;
    margin: 0 5px;
}

.produk .diskon {
    display: block;
    display: flex;
}

.produk .diskon .hargadiskon {
    text-decoration: line-through;
}
.produk .diskon .persendiskon {
    color: red;
}

.produk .beli {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 5px;
    position: relative;
    margin-top: 10px;
}

.produk .beli:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.produk .beli .iconwa {
    position: absolute;
    top: 10px;
    left: 40px;
}



/* PAGINATION */
.countainer .pagination {
    font-weight: bold;
    color: var(--color-primary);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.countainer .pagination .now {
    font-size: 40px;
    margin-left: 10px;
    color: var(--color-sekunder);
}

.countainer .pagination .total {
    font-size: 25px;
    margin-right: 10px;
}

.countainer .pagination a:hover {
    color: var(--color-sekunder);
}