.countainer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* JUDUL ATAS */
.judulatas {
    width: 1100px;
    font-weight: bold;
    color: var(--color-sekunder);
    font-size: 30px;
    margin-bottom: -30px;
}

/* LIST PRODUK */
.listproduk {
    width: 1100px;
}

.gridlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1px;
}


.produk {
    /* width: 312px; */
    margin: 10px;
    /* border-radius: 20px;
    padding: 20px; */
    /* border: 1px solid var(--color-primary); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

.produk {
    box-shadow: 0 1px 10px #0000001a, 0 1px 10px #0000000f;
}

.produk:hover {
    box-shadow: 0 1px 20px #0000001a, 0 1px 20px #0000000f;
}

.produk .gambar {
    max-height: 210px;
    /* max-width: 312px; */
    border-radius: 10px 10px 0 0;
    /* margin-bottom: 10px; */
    overflow: hidden;
    position: relative;
}

.produk .diskon {
    position: absolute;
    top: 10px;
    font-weight: 500;
    left: 10px;
    background-color: var(--color-high);
    display: flex;
    align-items: center;
    color: var(--color-white);
    padding: 3px;
    border-radius: 7px;
}

.produk .gambar img {
    border-radius: 10px 10px 0 0;
    max-height: 210px;
    max-width: 100%;
    background-position: center;
    object-fit: cover;
    object-position: center;
}

.produk .gambar:hover img {
    transition: all ease 0.3s;
    scale: 1.07;
}



.produk .tengah {
    padding: 10px;
}

.produk .judul {
    font-weight: 500;
    margin-bottom: 5px;
}

.produk .harga {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.produk .harga .hargaasli {
    color: var(--color-primary);
    font-weight: 700;
}

.produk .harga .hargaasli .hargaaslidalam {
    display: flex;
    align-items: flex-end;
}

.produk .harga .hargaasli .hargaaslidalam .hargadalam {
    font-size: 24px;
}

.produk .harga .hargadiskon {
    font-weight: 300;
    text-decoration: line-through;
    margin-bottom: 5px;
}

/* .produk .diskon {
    color: var(--color-diskon);
    background: var(--bg-diskon);
    display: inline-block;
    padding: 3px;
    border-radius: 7px;
    margin-bottom: 5px;
} */

.produk .ratingterjual {
    display: flex;
    align-items: center;
    opacity: 0.5;
}

.ratingterjual .logorating {
    color: var(--color-third);
}

.ratingterjual .garis {
    opacity: 0.5;
    padding: 0 5px;
}



.produk .beli {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 15px;
    position: relative;
    margin-top: 10px;
    display: none;
}

.produk .beli:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.produk .beli .iconwadalam {
    font-size: 27px;
}

.produk .beli {
    font-size: 18px;
}


/* PAGINATION */
.countainer .pagination {
    font-weight: bold;
    color: var(--color-primary);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.countainer .pagination .now {
    font-size: 40px;
    margin-left: 10px;
    color: var(--color-sekunder);
}

.countainer .pagination .total {
    font-size: 25px;
    margin-right: 10px;
}

.countainer .pagination a:hover {
    color: var(--color-sekunder);
}


/* Tablet styles using media query */
@media only screen and (max-width: 768px) {

    /* JUDUL ATAS */
    .judulatas {
        width: 90vw;
        font-size: 30px;
    }

    /* LIST PRODUK */
    .listproduk {
        width: 100vw;
        padding: 10px;
    }

    .gridlist {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        gap: 10px
    }

    .produk {
        margin: 0;
        /* width: 47vw */
    }

    .produk .gambar {
        max-width: 100%;
    }

    .produk {
        font-size: 18px;
    }

    .produk .harga .hargaasli .hargaaslidalam .hargadalam {
        font-size: 20px;
    }

    .produk .beli {
        font-size: 15px;
        padding: 7px 0px;
    }

}


/* Mobile styles using media query */
@media only screen and (max-width: 480px) {

    /* JUDUL ATAS */
    .judulatas {
        width: 90vw;
        font-size: 20px;
    }

    /* LIST PRODUK */
    .gridlist {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
        gap: 10px;
    }

    .listproduk {
        width: 100vw;
        padding: 10px;
    }

    .produk {
        margin: 0;
        /* width: 47vw */
    }

    .produk .gambar {
        max-width: 100%;
    }

    .produk {
        font-size: 15px;
    }

    .produk .harga .hargaasli .hargaaslidalam .hargadalam {
        font-size: 17px;
    }

    .produk .beli .iconwadalam {
        font-size: 17px;
    }

    .produk .beli {
        font-size: 10px !important;
    }
}