.container {
    padding: 15px;
    height: 400px;
    overflow-y: scroll;
}

.total {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.total .harga {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    font-size: 0.6rem;
}

.detailluar {
    display: flex;
}

.list .gambar {
    width: 100px;
    height: 90px;
    border-radius: 3px;
    position: relative;
}

.list .gambar img {
    width: 100px;
    height: 90px;
    border-radius: 3px;
}


/* KERANJANG GAMBAR */
.list .keranjanggambar {
    position: absolute;
    top: 0;
    height: 90px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
}

.list .keranjanggambar .kotak1 {
    top: 0;
    height: 90px;
    width: 100px;
    border-radius: 3px;
    position: relative;
}

.list .keranjanggambar .kotak2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 2px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.list .keranjanggambar .kotak2 .bgkotak2 {
    position: relative;
    background-color: var(--color-sekunder);
    opacity: 0.5;
    height: 30px;
    width: 30px;
    border-radius: 3px;
}

.list .keranjanggambar .kotak2 .logo {
    padding: 1px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    color: var(--color-white);
}


/* Detail PRODUK */
.list .detail {
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.list .detail .judul {
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    font-weight: 700;
    margin-bottom: 5px;
}

.list .harga {
    margin-bottom: 5px;
}

.list .detail .harga {
    display: flex;
}

.list .detail .hargadalam {
    font-weight: 500;
}

.list .detail .hargadiskon {
    font-weight: 500;
    text-decoration: line-through;
}


.list .tambahkurang {
    display: flex;
    align-items: center;
}

.list .tambahkeranjang {
    background-color: var(--color-primary);
    padding: 10px;
    color: var(--color-white);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    display: none;
}

.list .tambahkeranjang:hover {
    background-color: var(--hover-color-primary);
    transition: 0.2s ease all;
}


.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.action .delete {
    color: var(--color-diskon);
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.action .delete .validasi {
    font-size: 0.6rem;
    background-color: var(--color-sekunder);
    display: flex;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 25px;
}

.action .delete .validasi .yes {
    color: #adff2f;
    padding: 3px;
    cursor: pointer;
}

.action .delete .validasi .no {
    color: #FF69B4;
    padding: 3px;
    cursor: pointer;
}

.action .delete .validasi .yes:hover {
    color: #9cdb3f;
}

.action .delete .validasi .no:hover {
    color: #d55d99;
}


/* NOTFOUND */
.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    flex-direction: column;
}

.notfound .belum {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 5px;
}


.notfound .kembali {
    background-color: var(--color-primary);
    cursor: pointer;
    padding: 10px 10px;
    color: var(--color-white);
    border-radius: 7px;
    font-size: 0.7rem;
}

.notfound .kembali:hover {
    transition: 0.2s ease all;
    background-color: var(--hover-color-primary);
}



@media only screen and (max-width: 480px) {

    .container {
        padding: 15px 5px;
        height: 0;
        min-height: 68dvh;
    }

    .list {
        font-size: 0.7rem;
    }

    .list .detail {
        padding: 0 10px 10px 10px;
    }


    .total {
        flex-direction: column;
        align-items: flex-end;
    }


}