.container {
    padding: 15px;
    height: 400px;
    overflow-y: scroll;
}

/* .container::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}

.container:hover::-webkit-scrollbar {
    width: 8px;
} */

.total {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.total .harga {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total .bayarlangsung {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 15px 25px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 7px;
    white-space: nowrap;
}

.total .bayarlangsung:hover {
    transition: 0.2s ease all;
    background-color: var(--hover-color-primary);
}

.total .totalpembayaran {
    padding: 15px;
    font-size: 25px;
}

.list {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.detailluar {
    display: flex;
}

.list .gambar {
    width: 150px;
    height: 100px;
    border-radius: 7px;
}

.list .gambar img {
    width: 150px;
    height: 100px;
    border-radius: 7px;
}

.list .detail {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.list .detail .judul {
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    font-weight: 700;
    margin-bottom: 5px;
}

.list .harga {
    margin-bottom: 5px;
}

.list .detail .harga {
    display: flex;
}

.list .detail .hargadalam {
    font-weight: 500;
}

.list .detail .hargadiskon {
    font-weight: 500;
    text-decoration: line-through;
}


.list .tambahkurang {
    display: flex;
    align-items: center;
}

.list .tambahkeranjang {
    background-color: var(--color-primary);
    padding: 5px;
    color: var(--color-white);
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.list .tambahkeranjang:hover {
    background-color: var(--hover-color-primary);
    transition: 0.2s ease all;
}

/* .list .tambahkurang .tambah {
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--color-grey);
}

.list .tambahkurang .kurang {
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--color-grey);
}

.list .tambahkurang .nilai {
    padding: 5px 10px;
    background-color: var(--color-grey);
    font-weight: 500;
} */

.delete {
    color: var(--color-diskon);
    cursor: pointer;
    font-size: 20px;
}


/* NOTFOUND */
.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    flex-direction: column;
}

.notfound .belum {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 5px;
}


.notfound .kembali {
    background-color: var(--color-primary);
    cursor: pointer;
    padding: 10px 10px;
    color: var(--color-white);
    border-radius: 7px;
}

.notfound .kembali:hover {
    transition: 0.2s ease all;
    background-color: var(--hover-color-primary);
}



@media only screen and (max-width: 480px) {

    .container {
        padding: 15px 5px;
        font-size: 12px;
        /* height: 100vh; */
    }


    .list .detail {
        padding: 0 10px 10px 10px;
    }


    .list .gambar {
        width: 80px;
        height: 70px;

    }

    .list .gambar img {
        width: 80px;
        height: 70px;

    }


    .total {
        flex-direction: column;
        align-items: flex-end;
        /* position: absolute;
        bottom: 0; */
    }

    .total .totalpembayaran {
        padding: 5px;
        font-size: 20px;
    }

    .notfound .belum {
        font-size: 20px;
    }
}