.hasil {
    top: 40px;
    position: absolute;
    background-color: var(--color-white);
    width: 500px;
    max-height: 400px;
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
    border-radius: 0 0 15px 15px;
}

.list {
    display: flex;
}

.list:hover {
    background-color: var(--color-grey);
    cursor: pointer;
    border-radius: 7px;
}

.gambar {
    width: 50px;
    border-radius: 7px;
    padding: 10px;
}

.gambar img {
    width: 50px;
    border-radius: 7px;
}

.judulhargadiskon {
    padding: 10px;
    margin-left: 10px;
    font-size: 0.6rem;
}

.judulhargadiskon .judul {
    font-weight: 700;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
}

.hargahargadiskon {
    display: flex;
}

.hargahargadiskon .harga {
    color: var(--color-primary);
    font-weight: 500;
}


.hargahargadiskon .hargadiskon {
    text-decoration: line-through;
    font-weight: 500;
}


.notfound {
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .hasil {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .list {
        font-size: 14px;
    }

    .hasil {
        width: 95%;
        top: 40px;
    }
}