.pencarian {
    /* margin-top: 100px; */
    height: 70px;
    background-color: var(--color-white);
    /* border-radius: 10px 10px 0 0; */
    padding: 10px 10px 15px 15px;
    color: var(--color-sekunder);
    border-bottom: 3px solid var(--color-third);
}

.pencarian .pencariandalam {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pencarian .logocaridalam {
    font-size: 25px;
    font-weight: bold;
}

.pencarian input {
    width: 100%;
    display: block;
    outline: none;
    border: none;
    font-size: 25px;
    padding: 10px;
}


.isipencarian {
    padding: 15px;
    background-color: blue;
    height: 200px;
    background-color: var(--color-white);
    /* border-radius: 0 0 10px 10px; */
}


/* Tablet styles using media query */
@media only screen and (max-width: 768px) {
    .pencarian {
        width: 100%;
    }

    .isipencarian {
        width: 100%;
    }

}

/* Mobile styles using media query */
@media only screen and (max-width: 480px) {

    .pencarian {
        width: 100%;
    }

    .pencarian .logocaridalam {
        font-size: 20px;
    }

    .pencarian input {
        font-size: 20px;
    }

    .isipencarian {
        width: 100%;
    }   
}